.container.testimonials__container {
    width: 40%;
    padding-bottom: 4rem;
}

.testimonialsId {
    margin-top: 3rem;
}

.client__avatar {
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant)
}

.testimonial {
    background: var(--color-primary-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.client__name {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-white);
    margin-bottom: 0.5rem;
}

.client__profession {
    font-size: 1rem;
    color: var(--color-white);
}

.client__review {
    color: var(--color-light);
    font-size: 1rem;
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet-active {
    background: var(--color-primary);
}


/* Media Queries for Tablet Devices */

@media screen and (max-width: 1024px) {
    .container.testimonials__container {
        width: 60%;
    }
}


/* Media Queries for Mobile Devices */

@media screen and (max-width: 600px) {
    .container.testimonials__container {
        width: var(--container-width-sm);
    }
    .client__review {
        width: var(--container-width-sm);
    }
}